@tailwind base;

*-scrollbar {
    max-height: 200px;
    overflow-y: auto;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background: #888;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@tailwind components;
@tailwind utilities;